<!--Contact page for portfolio-->

<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-xl navbar-dark" id="navbar">
      <div class="container">
        <a class="navbar-brand" href="index.html">Damon Burda</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto mt-0 mt-lg-1">
            <li class="nav-item">
              <a class="nav-link" href="/home">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/portfolio">Portfolio</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
        <!--End list-->
      </div>
      <!--End container-->
    </nav>
    <!--End Nav-->  

    <!--Contact form-->
    <main class="container">
      <form class="block form-horizontal" id="contact-form">
        <h1 class="block-header">Contact</h1>
        <hr>
        <div class="mb-3">
          <label for="exampleInputName1" class="col-sm-2 form-label">Name</label>
          <div class="col-sm-5">
            <input class="form-control" id="nameInput" placeholder="Name">
          </div>
        </div>
        <div class="mb-3">
          <label id="exampleInputEmail" class="col-sm-2 form-label">E-mail</label>
          <div class="col-sm-5">
            <input type="email" class="form-control" id="emailInput"  placeholder="E-mail">
          </div>
        </div>
        <div class="mb-3">
          <label id="exampleInputMessage1" class="col-sm-2 form-label">Message</label>
          <div class="col-sm-5">
            <textarea class="form-control" rows="3" id="messageInput" placeholder="Message"></textarea>
          </div>
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
      </form>
    </main>
    <!--End of form-->

    <!--Footer-->
    <footer class="navbar fixed-bottom navbar-light bg-light">
      <h2 class="navbar-text">
        Damon1v1 on Github
      </h2>
    </footer>
    <!--End of footer-->

<script src="/js/send_messageMin.js"></script>
<!--Javascript CDN-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<!--Bootstrap CDN-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>