/*universal items*/
body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("https://cdn.wallpapersafari.com/80/54/B3LbkN.jpg");
  background-size: cover;
}

html {
  position: relative;
  min-height: 100%;
}

main {
  margin: 80px 0;
}

/*stylings for all block elements*/
.block {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}

/*typography*/
.block-header {
  color: #000000;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}

#project-title{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  float: center;
}

#project-description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
}

#project-description a:hover {
  color: rgb(142, 4, 255);
}
/*end universal items

/*navbar*/
.navbar .navbar-brand {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: rgb(219, 219, 219);
  background: rgb(0, 0, 0);
}

.navbar {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: rgb(0, 0, 0);
  border: whitesmoke;
}
/*navbar end*/

/*footer*/
footer .navbar-text {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: medium;
}
/*footer end*/

/*images*/
.portrait {
  height: 200px;
  width: 200px;
}

.img-fluid {
  height: 350px;
  width: 350px;
  padding: 15px;
}

#project-img {
  width: 100%;
  height: 400px;
}

#project2-img {
  width: 80%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
}
/*images end*/

h5 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}